<!-- Contact Section -->
  <section id="contact" class="container content-section text-center">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <ul class="list-inline banner-social-buttons">
                  <li>
                      <a target="_blank" href="https://twitter.com/samspadesband"> 
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>  
                      </a>
                  </li>
                  <li>
                      <a target="_blank" href="https://www.facebook.com/samspadesband" >
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  <li>
                      <a target="_blank" href="https://instagram.com/samjspades/">
                         <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i> 
                          </span>
                      </a>
                  </li>
                  
              </ul>
              <p><a target="_blank" href="mailto:sam@samspades.ca">sam@samspades.ca</a>
              </p>
              
          </div>
      </div>
  </section>
