<div id="menu-btn-1" class="menu-btn" style="opacity:1;">
  <i class="fa fa-bars"></i>
</div>

<menu style="position:fixed;right:-450px;">
	
	<div id="menu-close-1" class="menu-close">
		 <i class="fa fa-times"></i>
	</div>

    <ul id="sidenav">
		<div class="menu-menu-container">
    		<ul id="menu-menu" class="menu">
    			<li class="menu-item">
    				<a href="{{ site.github.url }}/shows/">Shows</a>
				</li>
				<li class="menu-item"><a href="{{ site.github.url }}/store/">Store</a></li>
				<li class="menu-item"><a href="{{ site.github.url }}/videos/">Videos</a></li>
				<li class="menu-item"><a href="{{ site.github.url }}/news/">News</a></li>
				<li class="menu-item"><a href="{{ site.github.url }}/contact/">Contact</a></li>
				<li class="menu-item"><a href="{{ site.github.url }}/about/">About</a></li>
			</ul>
		</div>
    </ul>

</menu>