<div id="social-icons">
	<ul class="list-inline banner-social-buttons" style="text-align:center;"> 
	  	<li>
	      <a href="https://twitter.com/samspadesband"> 
	        <span class="fa-stack fa-lg">
	          <i class="fa fa-circle fa-stack-2x"></i>
	          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	        </span>  
	      </a>
	  	</li>
	  	<li>
	      <a href="https://www.facebook.com/samspadesband" >
	        <span class="fa-stack fa-lg">
	          <i class="fa fa-circle fa-stack-2x"></i>
	          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	      </a>
	  	</li>
	  	<li>
	      <a href="https://instagram.com/samjspades/">
	         <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i> 
	          </span>
	      </a>
	  	</li>        
  </ul>
</div>